section#form {
  width: min(320px, 100%);
  margin: 1rem auto;
}

section#form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section#form form input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}