header {
  margin-bottom: 1rem;
}

header pre {
  width: 100%;
  overflow: hidden;
  line-height: 1em;
}

/* Mobile down */
@media screen and (max-width: 600px) {
  header pre {
    font-size: 0.55rem;
    width: 310px;
    margin: 0 auto;
  }
}

/* Under mobile down */
@media screen and (max-width: 350px) {
  header pre {
    font-size: 0.4rem;
    width: 225px;
  }
}
