section#search label {
  display: block;
  margin-bottom: 0.5rem;
}

section#search #searchBook .search-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

section#search #searchBook .search-input input {
  flex-grow: 1;
}

section#search #searchSummary {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

/* Under mobile down */
@media screen and (max-width: 350px) {
  section#search #searchBook .search-input input {
    width: 100%;
  }

  section#search #searchBook .search-input button {
    width: 100%;
  }
}
